.row
  .span6
    %a{href: signin_path}
      .login
        %h1 Login with Facebook

  .span6.hero
    %h1 Are you a hipster?
    .clearfix
    %h4 - Did you start listening to that band before they were cool?
    %h4 - Are you really into the music scene of a small town 3 states over?
    %h4 - Do you only listen to "demos"?
    
    %h3 There is only one way to truly prove how hipster you are. Login with Facebook and go head to head with all your friends.
