.row
  .span6.hero
    %h1.center Are you a hipster?
    .clearfix
    
    %h3.long-text There is only one way to truly prove how hipster you are. Login with Facebook and go head to head with all your friends. We'll crunch your music likes, your friend's likes, and tell you exactly who is more hipster
  .span6
    %a{href: signin_path}
      .login
        %h1 Login with Facebook
